USERNAME=SQL USERNAME HERE
PASSWORD=SQL PASSWORD HERE
ROOTPASSWORD=SQL ROOT PASSWORD HERE
FACEBOOK_APP_ID=APP ID HERE
FACEBOOK_SECRET=FACEBOOK SECRET HERE
SSL_CERT_PASSPHRASE=test
SESSION_SECRET=ANY STRING HERE