<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/ij0h6vcxvcacvu1l56udgaairzb672xtq1kktiizh2cpf4fe/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/js/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <title>Admin Page</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img class="navbar-brand" src="/images/logo.png" style="height: 50px;width: 100px;">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/edit_profile">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item active" id="admin-nav">
                <a class="nav-link" href="/admin">Admin Page</a>
            </li>
        </ul>

        <a class="btn btn-secondary" href="#">Sign Out <i class="fas fa-sign-out-alt"></i></a>
    </div>
</nav>

<main role="main" style="margin-top: 100px;">
    <div class="shadow m-3 p-3 bg-white rounded" style="overflow: auto;">

        <h1>Administrative Tools</h1>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="modify_clubs">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#modify_clubs_target" aria-expanded="false" aria-controls="collapseOne" style="font-size:smaller;">
                            Modify Clubs
                        </button>
                    </h2>
                </div>

                <div id="modify_clubs_target" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div id="modify_clubs_accordion" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="modify_clubs_add">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#modify_clubs_add_target" aria-expanded="false" aria-controls="collapseOneAddClub">
                                            Add Club
                                        </a>
                                    </h5>
                                </div>

                                <div id="modify_clubs_add_target" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body">
                                        <!--TODO: Need a route for this-->
                                        <form method="POST" action="/add_club">
                                            <div class="form-group">
                                                <label for="club_label">Label</label>
                                                <input type="text" id="club_label" class="form-control" name="label" placeholder="Enter the club title..." required>
                                            </div>
                                            <div class="form-group">
                                                <label for="club_desc">Description</label>
                                                <textarea id="club_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the club..."></textarea>
                                            </div>
                                            <button class="btn btn-primary float-right ml-2 mb-2" type="submit">Update</button>
                                            <button class="btn btn-secondary float-right" type="reset">Reset</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="delete_club">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse_delete_club" aria-expanded="false" aria-controls="collapseOneDeleteClub">
                                            Delete Club
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse_delete_club" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <!--                                  TODO: Need a route for this-->
                                        <form method="POST" action="/delete_club">
                                            <div class="form-group">
                                                <label for="select_delete_club">Select Club</label>
                                                <select id="select_delete_club" name="club_id" class="form-control" required>
                                                    <option value="">Choose...</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-danger float-right mb-2">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="edit_club">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse_edit_club" aria-expanded="false" aria-controls="collapseOneEditClub">
                                            Edit Club
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse_edit_club" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <!--TODO: Need a route for this-->
                                        <form method="POST" action="/edit_club">
                                            <div class="form-group">
                                                <label for="select_edit_club">Select Club</label>
                                                <select id="select_edit_club" name="club_id" class="form-control" onchange="select_club(this.value)" required>
                                                    <option value="">Choose...</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit_club_label">Label</label>
                                                <input type="text" id="edit_club_label" class="form-control" name="label" placeholder="Enter the club title..." required>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit_club_desc">Description</label>
                                                <textarea id="edit_club_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the club..."></textarea>
                                            </div>
                                            <button class="btn btn-primary float-right ml-2 mb-2" type="submit">Update</button>
                                            <button class="btn btn-secondary float-right" type="reset">Reset</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_majors" aria-expanded="true" aria-controls="collapseOne" style="font-size:smaller;">
                            Modify Majors
                        </button>
                    </h2>
                </div>

                <div id="collapse_majors" class="collapse" aria-labelledby="headingOne" data-parent="#collapse_majors">
                    <div class="card-body">
                        <div id="majors_accordion" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapse_add_major" aria-expanded="false" aria-controls="collapseTwoAddMajor">
                                            Add Major
                                        </a>
                                    </h5>
                                </div>

                                <div id="collapse_add_major" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body">
                                        <!--TODO: Need a route for this-->
                                        <form action="/add_major" method="POST">
                                            <div class="form-group">
                                                <label for="add_major_label">Label</label>
                                                <input type="text" id="add_major_label" class="form-control" name="label" placeholder="Enter the major title..." required>
                                            </div>
                                            <div class="form-group">
                                                <label for="add_major_select_school">School</label>
                                                <select id="add_major_select_school" name="school_id" class="form-control" required>
                                                    <option value="">Choose...</option>
                                                </select>
                                            </div>
                                            <button class="btn btn-primary float-right ml-2 mb-2" type="submit">Update</button>
                                            <button class="btn btn-secondary float-right" type="reset">Reset</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse_delete_major" aria-expanded="false" aria-controls="collapseTwoDeleteMajor">
                                            Delete Major
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse_delete_major" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <!--TODO: Need a route for this-->
                                        <form method="POST" action="/delete_major">
                                            <div class="form-group">
                                                <label for="delete_select_major">Select major</label>
                                                <select id="delete_select_major" name="major_id" class="form-control" required>
                                                    <option value="">Choose...</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-danger float-right mb-2">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse_edit_major" aria-expanded="false" aria-controls="collapseTwoEditMajor">
                                            Edit Major
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse_edit_major" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <!--TODO: Need a route for this-->
                                        <form method="POST" action="/edit_major">
                                            <div class="form-group">
                                                <label for="edit_select_major">Select major</label>
                                                <select id="edit_select_major" name="major_id" class="form-control" required>
                                                    <option value="">Choose...</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit_major_label">Label</label>
                                                <input type="text" id="edit_major_label" class="form-control" name="label" placeholder="Enter the major title..." required>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit_major_select_school">School</label>
                                                <select id="edit_major_select_school" name="school_id" class="form-control" required>
                                                    <option value="">Choose...</option>
                                                </select>
                                            </div>
                                            <button class="btn btn-primary float-right ml-2" type="submit">Update</button>
                                            <button class="btn btn-secondary float-right" type="reset">Reset</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne" style="font-size:smaller;">
                            Modify Schools
                        </button>
                    </h2>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div id="accordion" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapse_add_school" aria-expanded="false" aria-controls="collapseThreeAddSchool">
                                            Add School
                                        </a>
                                    </h5>
                                </div>

                                <div id="collapse_add_school" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body">
                                        <!--TODO: Need a route for this-->
                                        <form method="POST" action="/add_school">
                                            <div class="form-group">
                                                <label for="add_school_label">Name</label>
                                                <input type="text" id="add_school_label" class="form-control" name="name" placeholder="Enter the school title..." required>
                                            </div>
                                            <div class="form-group">
                                                <label for="add_school_desc">Description</label>
                                                <textarea id="add_school_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the school..."></textarea>
                                            </div>
                                            <button class="btn btn-primary float-right ml-2 mb-2" type="submit">Update</button>
                                            <button class="btn btn-secondary float-right" type="reset">Reset</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse_delete_school" aria-expanded="false" aria-controls="collapseThreeDeleteSchool">
                                            Delete School
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse_delete_school" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <!--TODO: Need a route for this-->
                                        <form method="POST" action="/delete_school">
                                            <div class="form-group">
                                                <label for="delete_select_school">Select School</label>
                                                <select id="delete_select_school" name="school_id" class="form-control" required>
                                                    <option value="">Choose...</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-danger float-right mb-2">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse_edit_school" aria-expanded="false" aria-controls="collapseThreeEditSchool">
                                            Edit School
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse_edit_school" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <!--TODO: Need a route for this-->
                                        <form method="POST" action="/edit_school">
                                            <div class="form-group">
                                                <label for="select_school">Select school</label>
                                                <select id="select_school" name="school_id" class="form-control" onchange="select_school(this.value)" required>
                                                    <option value="">Choose...</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit_school_label">Name</label>
                                                <input type="text" id="edit_school_label" class="form-control" name="name" placeholder="Enter the school title..." required>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit_school_desc">Description</label>
                                                <textarea id="edit_school_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the school..."></textarea>
                                            </div>
                                            <button class="btn btn-primary float-right ml-2 mb-2" type="submit">Update</button>
                                            <button class="btn btn-secondary float-right" type="reset">Reset</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/object_functions.js" rel="script" type="text/javascript"></script>
<script src="/js/admin_page.js" rel="script" type="text/javascript"></script>

</body>
</html>