<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8a0c87cb9a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Admin Page</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img class="navbar-brand" src="/images/logo.png" style="height: 50px;width: 100px;">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/edit_profile">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin">Admin Page</a>
            </li>
        </ul>

        <a class="btn btn-secondary" href="#">Sign Out <i class="fas fa-sign-out-alt"></i></a>
    </div>
</nav>

<main role="main" style="margin-top: 100px;">
    <div class="shadow m-3 p-3 bg-white rounded" style="overflow: auto;">

        <h1>Administrative Tools</h1>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="font-size:smaller;">
                            Modify Clubs
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div id="accordion" role="tablist">
                          <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapseOneAddClub" aria-expanded="false" aria-controls="collapseOneAddClub">
                                  Add Club
                                </a>
                              </h5>
                            </div>

                            <div id="collapseOneAddClub" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                              <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="club_label">Label</label>
                                        <input type="text" id="club_label" class="form-control" name="label" placeholder="Enter the club title..." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="club_desc">Description</label>
                                        <textarea id="club_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the club..."></textarea>
                                    </div>
                                    <button class="btn btn-primary float-right ml-2 mb-2" type="submit">Update</button>
                                    <button class="btn btn-secondary float-right" type="reset">Reset</button>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                              <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseOneDeleteClub" aria-expanded="false" aria-controls="collapseOneDeleteClub">
                                  Delete Club
                                </a>
                              </h5>
                            </div>
                            <div id="collapseOneDeleteClub" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="select_club">Select Club</label>
                                        <select id="select_club" name="club_id" class="form-control" required>
                                            <option value="">Choose...</option>
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-danger float-right mb-2">Delete</button>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                              <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseOneEditClub" aria-expanded="false" aria-controls="collapseOneEditClub">
                                  Edit Club
                                </a>
                              </h5>
                            </div>
                            <div id="collapseOneEditClub" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="select_club">Select Club</label>
                                        <select id="select_club" name="club_id" class="form-control" required>
                                            <option value="">Choose...</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit_club_label">Label</label>
                                        <input type="text" id="edit_club_label" class="form-control" name="label" placeholder="Enter the club title..." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit_club_desc">Description</label>
                                        <textarea id="edit_club_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the club..."></textarea>
                                    </div>
                                    <button class="btn btn-primary float-right ml-2 mb-2" type="submit">Update</button>
                                    <button class="btn btn-secondary float-right" type="reset">Reset</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>


<!-- 
                        <h6>Add Club</h6>
                        <form>
                            <div class="form-group">
                                <label for="club_label">Label</label>
                                <input type="text" id="club_label" class="form-control" name="label" placeholder="Enter the club title..." required>
                            </div>
                            <div class="form-group">
                                <label for="club_desc">Description</label>
                                <textarea id="club_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the club..."></textarea>
                            </div>
                        </form>

                        <h6>Edit/Delete Club</h6>
                        <form>
                            <button type="button" class="btn btn-danger float-right">Delete</button>
                            <br>
                            <div class="form-group">
                                <label for="select_club">Select Club</label>
                                <select id="select_club" name="club_id" class="form-control" required>
                                    <option value="">Choose...</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_club_label">Label</label>
                                <input type="text" id="edit_club_label" class="form-control" name="label" placeholder="Enter the club title..." required>
                            </div>
                            <div class="form-group">
                                <label for="edit_club_desc">Description</label>
                                <textarea id="edit_club_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the club..."></textarea>
                            </div>
                            <button class="btn btn-primary float-right ml-2" type="submit">Update</button>
                            <button class="btn btn-secondary float-right" type="reset">Reset</button>
                        </form>
 -->





                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" style="font-size:smaller;">
                            Modify Majors
                        </button>
                    </h2>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div id="accordion" role="tablist">
                          <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapseTwoAddMajor" aria-expanded="false" aria-controls="collapseTwoAddMajor">
                                  Add Major
                                </a>
                              </h5>
                            </div>

                            <div id="collapseTwoAddMajor" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                              <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="major_label">Label</label>
                                        <input type="text" id="major_label" class="form-control" name="label" placeholder="Enter the major title..." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="select_major">School</label>
                                        <select id="select_major" name="major_id" class="form-control" required>
                                            <option value="">Choose...</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="major_desc">Description</label>
                                        <textarea id="major_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the major..."></textarea>
                                    </div>
                                    <button class="btn btn-primary float-right ml-2 mb-2" type="submit">Update</button>
                                    <button class="btn btn-secondary float-right" type="reset">Reset</button>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                              <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwoDeleteMajor" aria-expanded="false" aria-controls="collapseTwoDeleteMajor">
                                  Delete Major
                                </a>
                              </h5>
                            </div>
                            <div id="collapseTwoDeleteMajor" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="select_major">Select major</label>
                                        <select id="select_major" name="major_id" class="form-control" required>
                                            <option value="">Choose...</option>
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-danger float-right mb-2">Delete</button>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                              <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwoEditMajor" aria-expanded="false" aria-controls="collapseTwoEditMajor">
                                  Edit Major
                                </a>
                              </h5>
                            </div>
                            <div id="collapseTwoEditMajor" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="select_major">Select major</label>
                                        <select id="select_major" name="major_id" class="form-control" required>
                                            <option value="">Choose...</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit_major_label">Label</label>
                                        <input type="text" id="edit_major_label" class="form-control" name="label" placeholder="Enter the major title..." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit_major_desc">Description</label>
                                        <textarea id="edit_major_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the major..."></textarea>
                                    </div>
                                    <button class="btn btn-primary float-right ml-2" type="submit">Update</button>
                                    <button class="btn btn-secondary float-right" type="reset">Reset</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <h6>Add Major</h6>
                        <form>
                            <div class="form-group">
                                <label for="major_label">Label</label>
                                <input type="text" id="major_label" class="form-control" name="label" placeholder="Enter the major title..." required>
                            </div>
                            <div class="form-group">
                                <label for="select_major">School</label>
                                <select id="select_major" name="major_id" class="form-control" required>
                                    <option value="">Choose...</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="major_desc">Description</label>
                                <textarea id="major_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the major..."></textarea>
                            </div>
                        </form>

                        <h6>Edit/Delete Major</h6>
                        <form>
                            <button type="button" class="btn btn-danger float-right">Delete</button>
                            <br>
                            <div class="form-group">
                                <label for="select_major">Select major</label>
                                <select id="select_major" name="major_id" class="form-control" required>
                                    <option value="">Choose...</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_major_label">Label</label>
                                <input type="text" id="edit_major_label" class="form-control" name="label" placeholder="Enter the major title..." required>
                            </div>
                            <div class="form-group">
                                <label for="edit_major_desc">Description</label>
                                <textarea id="edit_major_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the major..."></textarea>
                            </div>
                            <button class="btn btn-primary float-right ml-2" type="submit">Update</button>
                            <button class="btn btn-secondary float-right" type="reset">Reset</button>
                        </form> -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne" style="font-size:smaller;">
                            Modify Schools
                        </button>
                    </h2>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div id="accordion" role="tablist">
                          <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapseThreeAddSchool" aria-expanded="false" aria-controls="collapseThreeAddSchool">
                                  Add School
                                </a>
                              </h5>
                            </div>

                            <div id="collapseThreeAddSchool" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                              <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="school_label">Label</label>
                                        <input type="text" id="school_label" class="form-control" name="label" placeholder="Enter the school title..." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="school_desc">Description</label>
                                        <textarea id="school_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the school..."></textarea>
                                    </div>
                                    <button class="btn btn-primary float-right ml-2 mb-2" type="submit">Update</button>
                                    <button class="btn btn-secondary float-right" type="reset">Reset</button>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                              <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThreeDeleteSchool" aria-expanded="false" aria-controls="collapseThreeDeleteSchool">
                                  Delete School
                                </a>
                              </h5>
                            </div>
                            <div id="collapseThreeDeleteSchool" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="select_school">Select School</label>
                                        <select id="select_school" name="school_id" class="form-control" required>
                                            <option value="">Choose...</option>
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-danger float-right mb-2">Delete</button>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                              <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThreeEditSchool" aria-expanded="false" aria-controls="collapseThreeEditSchool">
                                  Edit School
                                </a>
                              </h5>
                            </div>
                            <div id="collapseThreeEditSchool" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="select_school">Select school</label>
                                        <select id="select_school" name="school_id" class="form-control" required>
                                            <option value="">Choose...</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit_school_label">Label</label>
                                        <input type="text" id="edit_school_label" class="form-control" name="label" placeholder="Enter the school title..." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit_school_desc">Description</label>
                                        <textarea id="edit_school_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the school..."></textarea>
                                    </div>
                                    <button class="btn btn-primary float-right ml-2 mb-2" type="submit">Update</button>
                                    <button class="btn btn-secondary float-right" type="reset">Reset</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- <h6>Add Schools</h6>
                        <form>
                            <div class="form-group">
                                <label for="school_label">Label</label>
                                <input type="text" id="school_label" class="form-control" name="label" placeholder="Enter the school title..." required>
                            </div>
                            <div class="form-group">
                                <label for="school_desc">Description</label>
                                <textarea id="school_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the school..."></textarea>
                            </div>
                        </form>

                        <h6>Edit/Delete Schools</h6>
                        <form>
                            <button type="button" class="btn btn-danger float-right">Delete</button>
                            <br>
                            <div class="form-group">
                                <label for="select_school">Select school</label>
                                <select id="select_school" name="school_id" class="form-control" required>
                                    <option value="">Choose...</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_school_label">Label</label>
                                <input type="text" id="edit_school_label" class="form-control" name="label" placeholder="Enter the school title..." required>
                            </div>
                            <div class="form-group">
                                <label for="edit_school_desc">Description</label>
                                <textarea id="edit_school_desc" name="description" rows="6" class="form-control" required placeholder="Enter a description of the school..."></textarea>
                            </div>
                            <button class="btn btn-primary float-right ml-2" type="submit">Update</button>
                            <button class="btn btn-secondary float-right" type="reset">Reset</button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>