<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://kit.fontawesome.com/8a0c87cb9a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/ij0h6vcxvcacvu1l56udgaairzb672xtq1kktiizh2cpf4fe/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/js/moment.js"></script>

    <title>Edit Profile</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img class="navbar-brand" src="/images/logo.png" style="height: 50px;width: 100px;">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/edit_profile">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search Alumni</a>
            </li>
        </ul>

        <a class="btn btn-secondary" href="/auth/logout">Sign Out <i class="fas fa-sign-out-alt"></i></a>
    </div>
</nav>

<!-- Here is the main body of the page -->
<div class="container" style="padding-top: 100px;">
    <form method="POST" action="/profile/update" enctype="multipart/form-data">
        <!-- The general information about the user -->
        <h4 class="mb-3">General Information</h4>
        <div class="alert alert-warning" role="alert" id="picture_err_message"></div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="profile_picture">Profile Picture</label>
                <input type="file" class="form-control" name="picture" id="profile_picture">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3" style="height: 400px;">
                <img style="max-height: 100%; display: block;margin-left: auto; margin-right: auto;" id="profile_image" src="/images/logo.png" alt="Profile Picture">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="first_name">First name</label>
                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="" value="" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="last_name">Last name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="" value="" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
        </div>

        <div class="mb-3">
            <label for="bio">Bio</label>
            <textarea id="bio" name="bio"></textarea>
        </div>

        <!-- The location about the user -->
        <h4 class="mb-3">Location</h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="country">Country</label>
                <select class="custom-select d-block w-100" id="country" name="country" required onchange="countrySelectionChange()">
                    <option value="">Choose...</option>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="state">State</label>
                <select class="custom-select d-block w-100" id="state" name="state" required>
                    <option value="">Choose...</option>
                </select>
            </div>
        </div>

        <!-- The RPI school information about the user -->
        <h4 class="mb-3">Education</h4>
        <div class="mb-3">
            <label for="school">School</label>
            <select name="school" id="school" class="form-control" onchange="schoolSelectionChange()" required>
                <option value="">Choose...</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="major">Major</label>
                <select name="major" id="major" class="form-control" required>
                    <option value="">Choose...</option>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="minor">Minor</label>
                <input type="text" class="form-control" id="minor" placeholder="" name="minor">
            </div>
        </div>
        <div class="mb-3">
            <label for="grad_date">Graduation / Projected Graduation</label>
            <input type="date" id="grad_date" name="grad_date" class="form-control" required>
        </div>
        <label for="clubs">Clubs</label>
        <div class="row mb-3">
            <div class="col-md-6">
                <select name="clubs" class="form-control" id="clubs_0" onchange="addClubRow(this)">
                    <option value="">Choose...</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="date" name="club_start" class="form-control"/>
            </div>
            <div class="col-md-3">
                <input type="date" name="club_end" class="form-control"/>
            </div>
        </div>
        <hr class="mb-4" id="form_bottom">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Update Account</button>
    </form>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">©2020 Software Design & Documentation</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/privacy_policy">Privacy</a></li>
        </ul>
    </footer>
</div>

<script type="text/javascript" rel="script" src="/js/edit_profile.js"></script>

</body>

</html>